* {
    box-sizing: border-box;
}

#body , #header , #footer , .container , .majorArea , .input {
    border: 1px solid black;
}

#body {
    direction: rtl;
    font-family: Arial;
}
.container {
    width: 900px;
    /* position: relative; */
    width: 100%;
    background-color: rgb(140,140,140);
    }

#header {
    height: 105px;
    position: relative;
    width: 900px;
    margin: 0 auto;
    background-color: rgb(140,140,140);
}
#language > ul > li > a {
    direction: rtl;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-decoration-line: none;
    text-decoration-style: solid;
}
#header #searchbox {
    float:  left;
    /* display: inline-block; */
    left: 60px;
    top: 30px;
    width: 132px;
    height: 19px;
    background: url(\Sources\images\search_button.png)
}
