* {
    box-sizing: border-box;
}

#body , #header , #footer , .container , .majorArea , .input {
    border: 1px solid black;
}

#body {
    direction: rtl;
    font-family: Arial;
}
.container {
    width: 900px;
    /* position: relative; */
    width: 100%;
    background-color: rgb(140,140,140);
    }

#header {
    height: 105px;
    position: relative;
    width: 900px;
    margin: 0 auto;
    background-color: rgb(140,140,140);
}
#leftBox {
    float: left;
    

}