* {
    box-sizing: border-box;
}

#body , #header , #footer , .container , .majorArea , .input {
    border: 1px solid black;
}

#body {
    direction: rtl;
    font-family: Arial;
}
.container {
    width: 900px;
    /* position: relative; */
    width: 100%;
    background-color: rgb(140,140,140);
    }

#header {
    height: 105px;
    position: relative;
    width: 900px;
    margin: 0 auto;
    background-color: rgb(140,140,140);
}
#leftBox {
    float: left;
    margin-top: 35px;
    margin-left: 10px;
}
#searchButton img {
    margin: -50% -30%;
}
#leftBox span {
    color: white;
    font-weight: 700;
    font-size: 12px;
}
